In [3]:
# 1. Given a list of dictionaries representing employees (with `name`, `age`, and `department`),
# write code to group employees by their department and calculate the average age for each department.

employees = [
    {"name": "Alice", "age": 30, "department": "HR"},
    {"name": "Bob", "age": 24, "department": "Engineering"},
    {"name": "Charlie", "age": 29, "department": "HR"},
    {"name": "David", "age": 35, "department": "Engineering"},
    {"name": "Eve", "age": 28, "department": "Marketing"}
]

# Empty dictionary to store department-wise total age and count
department_data = {}

# Loop through employees to group by department
for emp in employees:
    dept = emp["department"]
    age = emp["age"]

    if dept in department_data:
        department_data[dept]["total_age"] += age
        department_data[dept]["count"] += 1
    else:
        department_data[dept] = {"total_age": age, "count": 1}

# Dictionary to store the final average ages
average_ages = {}

# Loop through department_data to calculate average
for dept in department_data:
    total_age = department_data[dept]["total_age"]
    count = department_data[dept]["count"]
    average_ages[dept] = total_age / count  # Calculate average age

# Print the result
print(average_ages)

{'HR': 29.5, 'Engineering': 29.5, 'Marketing': 28.0}

{'HR': 29.5, 'Engineering': 29.5, 'Marketing': 28.0}

In [6]:
employees = [
    {"name": "Alice", "age": 30, "department": "HR"},
    {"name": "Bob", "age": 24, "department": "Engineering"},
    {"name": "Charlie", "age": 29, "department": "HR"},
    {"name": "David", "age": 35, "department": "Engineering"},
    {"name": "Eve", "age": 28, "department": "Marketing"}
]

my_dict = {}

for emp in employees:
  department = emp["department"]
  age = emp["age"]

  if department not in my_dict:
    my_dict[department] = []

  my_dict[department].append(age)

for department, age in my_dict.items():
    avg_age = sum(age) / len(age)
    print("Department is", department, "Average Age", avg_age)

Department is HR Average Age 29.5
Department is Engineering Average Age 29.5
Department is Marketing Average Age 28.0

In [15]:
# 2. - Given two sets of integers, write code to find the symmetric difference (elements present in one set but not the other)
#  and then filter out all even numbers from the result.

set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Find the symmetric difference (elements in one set but not both)
sym_diff = set1 ^ set2  # Equivalent to set1.symmetric_difference(set2)

for i in sym_diff:
  if i % 2 == 0:
    print(i, end = " ")

2 6 8

In [16]:
# 3. Given a dictionary where keys are strings and values are lists of dictionaries
 # (each containing `name` and `score`), write code to find the highest score in each list
 #  and return a dictionary with these highest scores.

data = {
       "class1": [{"name": "Alice", "score": 85}, {"name": "Bob", "score": 92}],
       "class2": [{"name": "Charlie", "score": 88}, {"name": "David", "score": 79}]
   }

# Dictionary to store highest scores
highest_scores = {}

# Loop through each class and directly get the max score
for i in data:
    highest_scores[i] = max(student["score"] for student in data[i])

print(highest_scores)

{'class1': 92, 'class2': 88}

In [24]:
# 4. Given a list of tuples representing product sales (with `product_name`, `quantity_sold`, and `price_per_unit`),
#  write code to calculate the total sales for each product and return a dictionary with the product names as keys and
# total sales as values.

sales = [
    ("Product1", 10, 2.5),
    ("Product2", 5, 4.0),
    ("Product1", 7, 2.5),
    ("Product3", 3, 6.0)
]

# Dictionary to store total sales per product
total_sales = {}

# Loop through each sale record
for product, quantity, price in sales:
    # Calculate sales amount
    sales_amount = quantity * price

    # Add to dictionary, if product exists add to existing value
    if product in total_sales:
        total_sales[product] += sales_amount
    else:
        total_sales[product] = sales_amount

# Print the final dictionary with total sales per product
print(total_sales)

{'Product1': 42.5, 'Product2': 20.0, 'Product3': 18.0}

In [2]:
# 5. Given a list of strings representing logs, where each log entry is in the
# format `"date: event"`, write code to count the occurrences of each event and
# return a dictionary with the event names as keys and their counts as values.

logs = [
       "2023-05-01: login",
       "2023-05-01: logout",
       "2023-05-02: login",
       "2023-05-02: login",
       "2023-05-03: logout"
   ]

event_counts = {}

# Iterate through the logs
for log in logs:
    # Split the log entry to get the event
    event = log.split(": ")[1]
    # Increment the count for the event
    if event in event_counts:
        event_counts[event] += 1
    else:
        event_counts[event] = 1

# Print the result
print(event_counts)

{'login': 3, 'logout': 2}

In [7]:
# 6. Given a list of numbers, write code to filter out all prime numbers and then
# return the sum of the remaining numbers.

numbers = [10, 15, 3, 7, 18, 21, 2, 5, 30]

sum_non_prime = 0  # Variable to store the sum of non-prime numbers

for num in numbers:
    if num > 1 and (num == 2 or num == 3 or num % 2 != 0 and num % 3 != 0):  # Check if prime
        continue  # Skip prime numbers
    sum_non_prime += num  # Add non-prime numbers to sum

print("Sum of non-prime numbers:", sum_non_prime)

Sum of non-prime numbers: 94

In [ ]:
# 3. Given a dictionary where keys are strings and values are lists of dictionaries
 # (each containing `name` and `score`), write code to find the highest score in each list
 #  and return a dictionary with these highest scores.

data = {
       "class1": [{"name": "Alice", "score": 85}, {"name": "Bob", "score": 92}],
       "class2": [{"name": "Charlie", "score": 88}, {"name": "David", "score": 79}]
   }

# Dictionary to store highest scores
highest_scores = {}

# Loop through each class and directly get the max score
for i in data:
    highest_scores[i] = max(student["score"] for student in data[i])

print(highest_scores)

In [11]:
# 7. Given a dictionary representing a company's hierarchy, where keys are department
# names and values are dictionaries with employee names as keys and their salaries as values,
# write code to find the department with the highest average salary.

hierarchy = {
       "HR": {"Alice": 70000, "Bob": 80000},
       "Engineering": {"Charlie": 90000, "David": 95000},
       "Marketing": {"Eve": 75000, "Frank": 70000}
   }

salary = {}

for i in hierarchy:
  salary[i] = sum(hierarchy[i].values()) / len(hierarchy[i])

max_sal = max(salary.values())


print("highest average salary is:", max_sal, "for department is:", max(salary.keys()))

highest average salary is: 92500.0 for department is: Marketing

In [13]:
hierarchy = {
       "HR": {"Alice": 70000, "Bob": 80000},
       "Engineering": {"Charlie": 90000, "David": 95000},
       "Marketing": {"Eve": 75000, "Frank": 70000}
   }

salary = {}

# Calculate average salary for each department
for dept in hierarchy:
    total_salary = sum(hierarchy[dept].values())
    num_employees = len(hierarchy[dept])
    salary[dept] = total_salary / num_employees

# Find department with the highest average salary
highest_dept = max(salary, key=salary.get)
max_sal = salary[highest_dept]

print("Highest average salary is:", max_sal, "for department:", highest_dept)

Highest average salary is: 92500.0 for department: Engineering
2

In [1]:
# 8. Given a list of words, write code to find all unique anagrams in the list. An anagram
#  is a word formed by rearranging the letters of another word.

words = ["listen", "silent", "enlist", "google", "elgoog", "rat", "tar", "art"]

anagrams = {}  # Dictionary to store anagram groups
unique_anagrams = []  # List to store only valid anagram groups

for word in words:
    sorted_word = "".join(sorted(word))  # Convert word into its sorted form

    if sorted_word in anagrams:
        anagrams[sorted_word].append(word)  # Add to existing anagram group
        if anagrams[sorted_word] not in unique_anagrams:
            unique_anagrams.append(anagrams[sorted_word])  # Add only once
    else:
        anagrams[sorted_word] = [word]  # Start a new anagram group

print("Unique anagrams:", unique_anagrams)

Unique anagrams: [['listen', 'silent', 'enlist'], ['google', 'elgoog'], ['rat', 'tar', 'art']]

In [1]:
# 9. Given a matrix (list of lists) of integers, write code to find and return the transpose
# of the matrix. The transpose of a matrix is obtained by swapping rows and columns.


matrix = [
       [1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]
   ]

rows = len(matrix)     # Number of rows
cols = len(matrix[0])  # Number of columns

# Transpose matrix using direct indexing (column-first approach)
transpose = [[matrix[r][c] for r in range(rows)] for c in range(cols)]

print("Transpose of the matrix:", transpose)

Transpose of the matrix: [[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [4]:
 # 10. Given a string, write code to count the frequency of each character (excluding spaces) and
 #return a dictionary with characters as keys and their frequencies as values.

text = "hello world"

text = "hello world"
char_count = {}  # Dictionary to store character frequencies

for char in text:
    if char != " ":  # Exclude spaces
      if char in char_count:
          char_count[char] += 1  # Increment count if character exists   Character frequencies: {'h': 1, 'e': 1, 'l': 3, 'o': 2, 'w': 1, 'r': 1, 'd': 1}
      else:
          char_count[char] = 1  # Initialize count for new character

print("Character frequencies:", char_count)

Character frequencies: {'h': 1, 'e': 1, 'l': 3, 'o': 2, 'w': 1, 'r': 1, 'd': 1}